  .App{
    color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-transform: capitalize;
    background-color: #AEA9BA;
    overflow-y: scroll;
  }
  .App header{
    width: 100%;
    text-align: center;
    padding: 1rem;
    text-transform: capitalize;
    background:linear-gradient(60deg,#E6B3AC 35%, #AD7E78 100%);
  }
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2rem auto;
    /* height: 80%; */
    width: 95%;
    background-color: #C4BADF;
    border-radius: 10px;
    padding: 2rem;
  }
  .topSection{
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  border-bottom: solid 2px #035397;
  padding-bottom: 1rem;
  }
  .resultSection{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  }
  .balanceBox{
  background-color:#AD7E78;
  }
  .expenseBox,.incomeBox{
  background-color:#E6B3AC;
  }
  .expenseBox,.incomeBox,.balanceBox{
  min-width:200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 95%;
  padding:0.5rem 2rem;
  margin-right:1rem;
  /*  text-align: center; */
  border-radius: 10px;
  margin: 1rem;
  }
  .expenseBox span,.incomeBox span{
  font-weight: bold;
  color: green;
  margin: 0.5rem 0;
  }
  .balanceBox span{
  margin: 0.5rem 0;
  }
  .btn{
  outline: none;
  padding: 1rem 2rem;
  font-size: 2.4rem;
  border-radius: 5px;
  cursor: pointer;
  border: solid 1px #494554;
  color: #494554;
  margin: 1rem;
  background-color: #fff;
  }

  .cancle{
  background: #fff;
  color: #dc2626;
  border: solid 1px #dc2626;
  }
  .add-some{
  margin: 1rem;
  }
  form{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem;
  width: 98%;
  background-color: rgba( 255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 1rem 0;
  }

  .form-inputs{
  display: flex;
  flex-direction: column;
  width: 90%;
  }

  .form-btn{
  font-size:2.5rem;
  border: none;
  outline: none;
  background:linear-gradient(60deg,#E6B3AC 35%, #AD7E78 100%);
  }

  input{
  padding:0.7rem 1.5rem;
  outline: none;
  border-radius: 5px;
  font-size:1.9rem;
  margin: 1rem;
  outline: none;
  }

  input::placeholder{
  color:#494554;
  }
  .radioBox{
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  }
  .radioBox label{
  color:#494554;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 2px #AEA9BA;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin:1rem;
  }
  .transaction-container{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  }

  .search{
  display: block;
  border-radius: 5px;
  padding:0.5rem 1.5rem;
  background-color: #fff;
  width: 80%;
  margin:1rem;
  }
  .transaction{
  border-radius: 5px;
  width: 90%;
  background: #AEA9BA;
  padding: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-right: 5px solid green;
  padding: 1rem;

  }
  
  @media screen  and (max-width:700px){
    .topSection{
      flex-direction: row;
    }
     .resultSection{
     flex-direction: column;

    } 
  }
  @media screen  and (max-width:500px){
    .topSection{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    .resultSection{
    flex-direction: column;
    }
    }